*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #121212;
    height: 100000px;
}

.black{
    background-color: black;
}

.header1{
    padding: 20px 24px 20px 24px;
    gap: 1.5rem;
    width: 100%;

}

.flex{
    display: flex;
}

.part1{
    gap: 0.5rem;
}

.logo-btn{
    width: 35px;
}
.part1 img{
    width: 100%;
}
.no-border{
    border: none;
}

.cursor-pointer{
    cursor: pointer;
}

.reverse {
    transition: transform 0.3s ease;
  }
  
  .reverse:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
  }
  

.align-items{
    align-items: center;
}

.line{
    height: 100%;
    border: none;
    border-left: 1.5px solid rgb(235, 226, 226);
}

.store{
    width: 54px;
}

.text-decoration-none{
    text-decoration: none;
}

.part2,.btns{
    gap: 1.5rem;
}

.header1-headings,.header2-headings{
    background-color: transparent;
    border: none;
    border-radius: 8px;
    padding: 0px 10px;
    height: 30px;
}

.header1-headings>a,.header2-headings>a{
    color: rgb(182, 176, 176);
    font-size: 15px;
}


.header1-headings:hover{
    background-color: rgba(255, 255, 255, 0.15);
}

.profile>button{
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #303034;
}

.space-between{
    justify-content: space-between;
}

.toolbar{
    border: 2px solid green;
    flex: 1 1 0%;
}

.download{
    color: #303034;
    background-color: #26BBFF;
    padding: 8px 13px;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 0.7px;
}

.download:hover{
    background-color:#70ccf7;
}

.flex-end{
    justify-content: flex-end;
}

.rightbuttons{
    gap: 1.5rem;
}

.space-header{
    width: 80vw;
}

.profile>button>img{
    width: 17px;
    filter: invert(100%);

}

.searchlayout{
    text-align: start;
    letter-spacing: 0.2px;
    background-color: #202020;
    width: 230px;
    height: 40px;
    border-radius: 24px;
    margin: 20px;
}

.space-evenly{
    justify-content: space-evenly;
}

.searchtextbox>input{
    font-size: 14px;
    color: #bebec3;
    background-color: transparent;
    border: none;
    outline: none;
}
.searchtextbox>input>:placeholder{
    color: white;
}

.main{
}
.header2{
    padding: 0 160px;
    height: 80px;
    position: sticky;
    top: 0;
    background-color: #121212;
    
}

.header2-headings>a:hover{
    color: white;
}

#browse{
    color: white;
}

.middle{
    width: 100%;
}

.clickdropdown{
    display: none;
}
.show{
    display: grid;
    margin: 20px;
    width: 610px;
    height: 480px;
    background-color: #202024;
    padding: 30px 50px;
    z-index: 2;
    position: absolute;
    border-radius: 20px;
}

.border{
    border: 2px solid white;
}

.white{
    color: white;
}

.list1>li{
    letter-spacing: 0.7px;
    color: #DAE6EA;
    list-style: none;
    font-size: 13px;
}

.list1>li>a>div>img{
    width: 20px;
    height: 20px;
}

.playdiv>h2,.discoverdiv>h2,.creatediv>h2{
    margin: 0 0 5px 0;
    padding: 6px;
    font-size: 22px;
}

.list{
    padding: 8px 10px;
    width: 200px;
    gap: 0.5rem;
    border-radius: 8px;

}

.list:hover{
    background-color: rgba(255, 255, 255, 0.15);
}

.grid{
    grid-template-areas: 'playdiv creatediv'
                         'discoverdiv creatediv' ;
}

.playdiv{
    grid-area: playdiv;
}

.discoverdiv{
    grid-area: discoverdiv;
}

.creatediv{
    grid-area: creatediv;
}

